<div class="span6 center down hero-unit">
  <div class="center">
  <% if signed_in? %>
    <%= form_for(:link, url: links_path, method: 'post') do |f| %>
      <%= f.text_field :destination, value: 'a longgggg url', onfocus: 'this.value == "a longgggg url" ? this.value = "" : null' %>
      <%= f.submit "Shorten", class: "btn btn-large btn-primary" %>
    <% end %>
  <% else %>
    Sign in first to start shortening your URLs
  <% end %>
  </div>
</div>
