<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut rutrum magna. Praesent sodales tellus tortor, eget dictum metus elementum vel. Integer scelerisque id risus sit amet fringilla. Suspendisse vitae auctor eros. Mauris pulvinar, ligula a egestas vehicula, metus ligula vestibulum mi, eget cursus nisi arcu sed turpis. Nullam aliquam ullamcorper nulla, at aliquam ligula fermentum ac. Duis nisi lorem, tristique vitae enim vitae, pretium hendrerit eros. Donec rhoncus felis sed posuere ornare. Aliquam id augue eu arcu rutrum porta. Curabitur dapibus nibh vitae tellus ultrices imperdiet. Donec semper, lacus non pharetra gravida, ante arcu condimentum tortor, ac molestie ipsum ligula ac nunc. Praesent eros nisl, vulputate sit amet sollicitudin in, rutrum non risus. Vestibulum et sem nunc. Suspendisse feugiat imperdiet dolor, sit amet rhoncus nibh congue eu. Phasellus a ligula semper, sodales justo ac, auctor lacus. Vivamus id lorem mauris.</p>

<div class="center hero-unit">
<div class="row">
  <div class="span6 offset3">
  <% if signed_in? %>
    <%= form_for(:link, url: links_path, method: 'post') do |f| %>
      <%= f.label :url %>
      <%= f.text_field :destination %>
      <%= f.submit "Shorten", class: "btn btn-large btn-primary" %>
    <% end %>
  <% else %>
    Sign in first to start shortening your URLs
  <% end %>
  </div>
</div>
</div>

<p>Nullam eleifend malesuada ante ac mollis. Duis pharetra non massa molestie placerat. Nunc laoreet tristique tristique. Etiam suscipit sit amet est sed sodales. Praesent a aliquam nulla. Mauris id lacus quis neque condimentum posuere sit amet a ligula. Phasellus ornare imperdiet sem facilisis fermentum. Phasellus tincidunt ac nunc in accumsan. Fusce id congue nisl. Aenean ultricies, magna eget sodales faucibus, sem odio luctus eros, ut blandit magna ligula non sem. Pellentesque eros urna, ultricies nec aliquet a, tincidunt sed eros. Ut vel risus nec libero rhoncus porta.</p>

<p>Proin nec dolor quis nibh pharetra sodales eu quis dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce malesuada orci ligula. Donec cursus lorem ac lorem luctus consequat. In hac habitasse platea dictumst. Nunc odio lectus, placerat quis massa vitae, placerat interdum neque. Nam ac nibh at arcu scelerisque dapibus vitae non orci. Proin hendrerit quis risus eget molestie. Quisque viverra erat non urna commodo tincidunt. Aliquam elit sapien, vulputate sed arcu ac, eleifend dignissim purus. Donec ut risus vitae risus suscipit sollicitudin. Morbi sodales a dui eget tempus. Integer semper, velit sit amet euismod vehicula, lacus leo gravida arcu, non hendrerit elit ipsum eu enim. Praesent scelerisque, dolor ut imperdiet accumsan, libero tellus facilisis est, eu tempus dui massa ac nisi.</p>
