<% if session[:user_id] %>
<p>Logged in as user.id <%= session[:user_id] %>. <%= link_to "Sign Out", signout_path, method: "delete" %></p>
<% else %>
<p><%= link_to "Sign In", signin_path %> or <%= link_to "Create an account", signup_path %></p>
<% end %>
