<div class="span8">
  <% if @user.links.any? %>
    <h3>Links (<%= @user.links.count %>)</h3>
    <ul class="links">
      <%= render @links %>
    </ul>
    <%= will_paginate @links %>
  <% end %>
</div>
