<tr>
  <td><%= link_to(nil, build_link_from_shortcode(link.shortcode)) %></td>
  <td><%= link.destination %></td>
  <td>
  <%= link_to raw('<i class="icon-trash icon-white"></i>'), link, method: 'delete', data: { confirm: 'are you sure?' }, class: 'btn btn-danger' %>
  </td>
</tr>
