<li>
  <span class="shortcode"><%= link_to(nil, build_link_from_shortcode(link.shortcode)) %></span>
  <span><i class="icon-resize-horizontal"></i></span>
  <span class="destination"><%= link.destination %></span>
</li>
